[
    {rabbitmq_web_stomp,
        [{proxy_protocol, true},
            {ssl_config, [{port,       15671},
                {backlog,    1024},
                {certfile,   "/tmp/tls-gen/basic/server/cert.pem"},
                {keyfile,    "/tmp/tls-gen/basic/server/key.pem"},
                {cacertfile, "/tmp/tls-gen/basic/testca/cacert.pem"}
            ]}]},
    {rabbitmq_web_mqtt,
        [{proxy_protocol, true},
            {ssl_config, [{port,       15673},
                {backlog,    1024},
                {certfile,   "/tmp/tls-gen/basic/server/cert.pem"},
                {keyfile,    "/tmp/tls-gen/basic/server/key.pem"},
                {cacertfile, "/tmp/tls-gen/basic/testca/cacert.pem"}
            ]}]}
].